@import "tailwindcss";

@import './styles/theme.css';

@theme {
  --color-turquoise: #5ce3d4;
  --color-orange: #ff914d;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  background-color: white !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-white text-black;
  }
}
